<header>
    <nav>
        <ul>
            <li><a href="/principal">Inicio</a></li>
                <li><span>Bienvenido, <%= usuario.nick %>!</span></li>
                <li><a href="/subir_receta">Sube Receta</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
                <li><a href="/perfil/descripcion">Mi perfil</a></li>
        </ul>
    </nav>
</header>