<h2>Cambia tu descripci贸n</h2>

<form action="/perfil/nueva_descripcion" method="post">
    <label for="descripcion_perfil">Escriba la nueva descripci贸n: </label>
    <textarea name="descripcion_perfil" id="descripcion_perfil" rows="4" cols="50" placeholder="Escribe una nueva descripci贸n"></textarea>
    <button type="submit">Actualizar Descripci贸n</button>
</form>