<h2>Cambia tu Avatar</h2>

<form action="/perfil/nuevo_avatar" method="post">
        <p>
            <label for="avatar">Coloque la url del nuevo avatar: </label>
            <input type="text" name="avatar" id="avatar">
        </p>
        
        <button type="submit">Actualizar Avatar</button>
</form>