<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión o Registrarse</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <div class="registro-login-container">
        <h2>Bienvenido a nuestra página</h2>
        <p>Inicia sesión o regístrate para empezar a ver las recetas</p>
        <div class="registro-login-buttons">
            <button onclick="location.href='/login'">Iniciar Sesión</button>
            <button onclick="location.href='/register'">Registrarse</button>
        </div>
    </div>
</body>
</html>